@import './src/styles/variables';

.locations {

}

.location {
  &:first-child {
    margin-bottom: 30px;
  }
  &__titles {
    margin-bottom: 25px;
    & h3 {
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: $fontMedium;
    }
    & p {
      margin-bottom: 5px;
      font-size: 14px;
    }
  }
  &__map {
    border: 1px solid #979797;
    width: 100%;
    min-height: 620px;
    background-color: $greyColor;
  }
}

@media only screen and (max-width: 768px) {
  .location {
    padding: 20px 0;
    border-radius: 3px;
    border: 1px solid #000;
    position: relative;
    &__titles {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
      padding: 0 15px;
    }
    &__map {
      display: none;
      min-height: 440px;
    }
    .location__map_open {
      display: block;
    }
  }
}

