@import './src/styles/variables';

.payment {
  border-top: 1px solid #979797;
  padding: 30px 35px 30px 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_text {
      font-size: 12px;
    }

    &_hidden {
      display: none;
    }
  }

  &__img {
    width: 34.6%;
    border: 1px solid #979797;
    border-radius: 8px;
    padding: 10px 30px;
    min-height: 60px;
    max-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    & span {
      position: absolute;
      left: 50%;
      top: 3px;
      font-style: italic;
      font-size: 12px;
      transform: translateX(-50%);
    }

    & > img {
      width: 100%;

    }
  }

  &__more {
    display: none;
    margin-top: 30px;

    &_visible {
      display: block;
      @media screen and (max-width: 992px) {
        & p {}
        text-align: center;
      }
    }
  }

  &__heading {
    font-size: 16px;
    font-weight: $fontMedium;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 14px;
    margin-bottom: 15px;
    @media only screen and (max-width: 1020px) {
      width: 50%;
    }
  }

  &__fees {
    display: flex;
    font-size: 14px;
    margin-bottom: 45px;
    @media only screen and (max-width: 400px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__fee {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    @media only screen and (max-width: 400px) {
      margin-right: 0;
    }
    &_value {
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 0;
      border-radius: 3px;
      margin-top: 5px;
    }

    &_value:last-child {
      color: #000;
      background-color: #D2FBA8;
      border: 1px solid #125E00;
    }
  }

  &__fee:first-child {
    color: #125E00;
  }

  &__fee:nth-child(2) {
    color: #00499E;
    & .payment__fee_value {
      display: none;
      color: #000;
      background-color: #A5CEFF;
      border: 1px solid #00499E;
    }
  }

  &__fee:last-child {
    color: #A85313;

    & .payment__fee_value {
      color: #000;
      background-color: #FFA865;
      border: 1px solid #A85313;
    }
  }

  &__btn {
    width: 214px;
    background-color: #FDD858;
    border: 1px solid #979797;
    border-radius: 8px;
    min-height: 60px;
    max-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30px;

    & span {
      position: absolute;
      left: 50%;
      top: 3px;
      color: #00ADE5;
      font-style: italic;
      font-size: 12px;
      transform: translateX(-50%);
    }

    & > a {
      padding: 10px 30px;
      display: block;
    }

    & img {
      width: 100%;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
      font-size: 14px;
      font-style: italic;
    }
  }
}

@media only screen and (max-width: 992px) {
  .payment {
    padding: 30px 35px 30px;
    &__header {
      justify-content: center;
      &_text {
        display: none;
      }
    }
    &__more {
      &_visible {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &__fee:nth-child(2) {
      & .payment__fee_value {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &__arrow {
      display: none;
    }
    &__img {
      cursor: pointer;
      width: 75%;
      height: 50px;
      & > img {
        width: 40%;
      }
    }
    &__info {
      flex-direction: column;
      text-align: center;
      & > p {
        margin-bottom: 30px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .payment {
    &__img {
      & > img {
        width: 70%;
      }
    }
  }
}


@media only screen and (max-width: 420px) {
  .payment {
    &__img {
      & > img {
        width: 100%;
      }
    }
  }
}