.report-item {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  img {
    width: 26px;
    height: 26px;
  }
}
.collapse-btn{
  img {
    width: 26px;
    height: 26px;
  }
}
.semesters {
  table {
    width: 100%;
    th {
      border-bottom: 1px solid #D8D8D8;
      font-size: 14px ;
      td:first-child {
        color: #000000;

        font-weight: 600;
      }
    }
    tbody {
      td {
        padding: 3px 0;
      }
    }
  }
}
