@import './src/styles/variables';

.intro {
  display: flex;
  justify-content: space-between;
  position: relative;

  &__content {
    width: 66.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_heading {
      font-size: 27px;
      color: $blackColor;
      font-weight: $fontBold;
      margin-bottom: 20px;
    }
  }

  &__texts {
    max-width: 95%;
    & p {
      margin-bottom: 30px;
      line-height: 1.3;
      font-size: 14px;
    }

    & > p, ul {
      margin: 15px 0;
      line-height: 1.3;
    }
  }

  & > aside {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .intro {
    flex-direction: column;
    &__content {
      width: 100%;
    }
    & > aside {
      width: 100%;
      margin-top: 30px;
    }
  }
}

