$witheColor: #FFFFFF;
$greenColor: #5CA100;
$orangeColor: #FF7000;
$primaryColor: #0560C9;
$greyColor: #D5D0CB;
$subMenuActiveColor: #ACA9A0;
$navLinkActiveColor: #7ED321;
$contnetBlue: #206FCB;
$contnetDarkBlue: #00499E;
$contentGreen: #125E00;
$contentLightGreen: #5AA108;
$contentOrange: #D65C00;
$blackColor: #000000;
$cardOrange: #FFB337;
$cardYellow: #F8E71C;
$cardGreen: #B8E986;
$cardBlue: #A5CEFF;
$fontUbuntu: 'Ubuntu', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontRegular: 400;
$fontMedium: 500;
$fontBold: 700;
$fontBlack: 900;
