.contact {
  display: grid;
  grid-template-rows: minmax(300px, 1fr);
  grid-template-columns: repeat(3, 326.5px);
  grid-gap: 10px;
}


@media only screen and (max-width: 1020px) {
  .contact {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .contact {
    grid-template-rows: repeat(3, minmax(200px, 200px));
    grid-template-columns: repeat(1, minmax(30%, 1fr));
  }
}