$color: white;

.logo, .brand, .phone_number {
  //display: inline-block;
  //margin: 0 100px 0 0;
}

.nav-desktop {
  .menu {
    height: 35px;
    .nav {
      .nav-link{
        color: #fff;
      }
      .active.nav-link {
        color: #7ED321;
        text-decoration: underline;
      }
    }
  }

  .search-form{
    position: relative;
    height: 57px;
    width: 210px;
    font-family: "Roboto-Light", serif;
    .navbar-nav .nav-link{
      color: #000000;
    }
    input {
      height: 57px;
      width: 210px!important;
      margin-right: 0!important;
      background-color: #ACA9A0;
      &::placeholder {
        color: black;
      }
    }
    button {
      position: absolute;
      right: 10px;
      top: 15px;
      background: transparent;
      border: unset;
    }
  }
}

.logo {
  width: 144px;
  height: 127px;
}

.logo-info-content {
  padding: 20px 0;
}


.brand-name {
  color : black;
  font-family: Ubuntu-Medium, sans-serif;
  font-size: 65px;
}
.brand-educ {
  font-family: Ubuntu-Regular, serif;
  color: #9B9B9B;
  font-size : 23px;
}
.phone-search {
  display: flex;
}

.phone {
  height: 57px;
  width: 210px;
  .phone-number {
    width: 100%;
    height: 100%;
    color: $color;
    border-radius: 3px;
    background-color: #5AA108;
    font-family: "Roboto-Regular", serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center
  }
}

.sub-menu{
  background-color: #D5D0CB;
  height: 35px;
  font-family: "Roboto-Light", serif;
  .nav .nav-link{
    color: #000;
  }
  .active.nav-link {
    color: #fff;
  }
}
Link:hover {
  color: #28a745
}

.nav-mobile{
  .nav-header{
    border-bottom: 2px solid black;
    min-height: 97px;
    h1 {
      font-size: 25px;
      margin-bottom: 0;
      a {
        color: #cccccc;
      }
    }
    .btn-toggle-menu{
      padding: 2px 10px;
    }
  }
  .nav-item {
    .nav-link {
      color: #fff;
      &.active {
        color: #7ed321;
        text-decoration: underline;
      }
    }
  }
  .header-img {
    height: 325px;
    background-position: 75%;
    background-size: 200% 100%;
    background-image: url(/public/images/header-bg.png);
    background-repeat: no-repeat;
  }
}


@media (max-width: 575.98px) {
  .brand-name {
    font-size: 25px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .brand-name {
    font-size: 30px;
  }
  .brand-educ {
    font-size: 18px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .brand-name {
    font-size: 40px;
  }
  .brand-educ {
    font-size: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .brand-name {
    font-size: 50px;
  }
}