footer.footer {
  .policy {
    background-color: #D5D0CB!important;
    height: 35px;
    .nav .nav-link{
      color: #000;
    }
  }
  .footer-text{
    background-color: black;
    min-height: 185px;
    font-family: Roboto;
    font-size: 13px;
    .info{
      color: #9B9B9B;
    }
    .cooperation-text{
      color: #fff;
    }
    .site-creator{
      div {
        border-top: 1px solid rgba(213, 208, 203, 0.69);
        padding: 15px 0;
        a{
          color: #9B9B9B;
          text-decoration: unset;
        }
      }
    }
  }
  .search-form {
    position: relative;
    background-color: #ACA9A0;
    padding-top: 30px;
    padding-bottom: 30px;
    input {
      height: 38px;
      border: 1px solid #333;
      margin-right: 0!important;
      background-color: #ACA9A0;
      &::placeholder {
        color: black;
      }
    }
    button {
      position: absolute;
      right: 20px;
      top: 35px;
      background: transparent;
      border: unset;
    }
  }
  .contact-block {
    h3 {
      height: 24px;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 500;
    }
    span {
      font-size: 14px;
    }

    .contact {
      .title {
        height: 17px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
      }
      .btn {
        background: #5aa108;
        color: #ffffff;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        &.btn-phone {
          background: #5aa108;
        }
        &.btn-map{
          background: #ff6e00;

        }
        &.btn-enquiry-form{
          background: #0f62c2;
        }
      }
    }
  }
}