@media screen and (max-width: 576px) {
  .bg-img {
    background-image: unset!important;
  }
}
.to-top {
  cursor: pointer;
  position: absolute;
  right: -4%;
  bottom: 66px;
  font-size: 13px;
  @media (min-width: 992px) and (max-width: 1199.98px) {
    position: static;
    margin-top: 30px;
  }
}