@import './styles/reset';
@import './styles/fonts';
@import './styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

html, body {
  font-family: $fontRoboto;
}

html {
  scroll-behavior: smooth;
}

.active_navlink {
  color: $navLinkActiveColor !important;
  text-decoration: underline;
}

.active_sub_navlink {
  background-color: #ACA9A0;
  text-decoration: underline;
}

main {
  padding: 100px 0 200px;
}
@media only screen and (max-width: 768px) {
  main {
    padding-top: 0;
    padding-bottom: 80px;
  }
}
