.hero-items {
  .item{
    padding: 3px;
    &>div {
      position: relative;
    }
    .img-transparent-background {
      z-index: 111;
      width: 100%;
      height: 330px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0.8;
      @media screen and (max-width: 992px) {
        height: 250px;
      }
      @media screen and (max-width: 576px) {
        height: 180px;
      }
      p {
        margin: 0;
        color: #FFFFFF;
        font-size: 30px;
        font-family: Roboto;
        @media screen and (max-width: 992px) {
          font-size: 25px;
        }
        @media screen and (max-width: 576px) {
          font-size: 24px;
        }
      }
      &.img-transparent-blue {
        background-color: #206FCB;
      }
      &.img-transparent-green-dark {
        background-color: #125E00;
      }
      &.img-transparent-orange {
        background-color: #D65C00;
      }
      &.img-transparent-green {
        background-color: #5AA108;
      }
      &.img-opacity-black{
        background-color: black;
      }
      &.img-opacity-green-dark{
        background-color: #125E00;
      }
      &.img-opacity-blue{
        background-color: #206FCB;
      }
      &.img-opacity-dark-blue {
        background-color: #00499E;
      }
      &.img-opacity-orange {
        background-color: #CB5902;
      }
    }
    .image{
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0;
      width: 100%;
      height: 330px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      @media screen and (max-width: 992px) {
        height: 250px;
      }
      @media screen and (max-width: 576px) {
        height: 180px;
      }
      @media screen and (max-width: 576px) {
        background-size: 70% 70%;
      }
    }

  }
}

.donation-items {
  .donation-item {
    padding: 3px;
    &>div {
      height: 162px;
      background: #4a4a4a;
      position: relative;

    }

    .img-transparent-background {
      z-index: 111;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0.8;
      background: #4a4a4a;
      font-family: Roboto;
      .bg-transparent {
        background: #4a4a4a;
      }
    }

    h3 {
      font-size: 15px;
      margin-bottom: 0;
      color: #ffffff;
    }

    p {
      font-size: 13px;
      margin-bottom: 0;
      color: #ffffff;
    }

    .image {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0;
      width: 100%;
      height: 162px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      @media screen and (max-width: 576px) {
        background-size: 70% 70%;
      }
    }

  }

}

.about-text {
  .title {
    height: 32px;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 900;
  }

  article {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
  }
}

.about-donation-items {
  .donation-item {
    padding: 3px;
    &>div {
      height: 162px;
      background: #4a4a4a;
      position: relative;

    }

    .img-transparent-background {
      z-index: 111;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0.8;
      background: #4a4a4a;
      font-family: Roboto;
      .bg-transparent {
        background: #4a4a4a;
      }
    }

    h3 {
      font-size: 15px;
      margin-bottom: 0;
      color: #ffffff;
    }

    p {
      font-size: 13px;
      margin-bottom: 0;
      color: #ffffff;
    }

    .image {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0;
      width: 100%;
      height: 162px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      @media screen and (max-width: 576px) {
        background-size: 70% 70%;
      }
    }

  }

}
.donations {
  border: 1px solid black;
  padding: 20px;
  min-height: 500px;
  h3 {
    color: #000;
    font-size: 30px;
  }
  h4 {
    color: #125E00;
    font-size: 24px;
  }
  p {
    font-family: Roboto-Light;
    font-size: 18px;
  }
  .btn {
    font-family: Roboto;
    border-radius: 0;
    font-size: 20px;
    font-weight: 500;
  }
}

.col-padding-3 {
 padding: 3px;
  .row {
    margin: -3px;
  }
}